@use './../../styles/assets/partials/mixins' as *;
@use './../../styles/assets/partials/fonts' as *;
@use './../../styles/assets/partials/variables' as *;

.inventory-container__top {
    display: flex;
    justify-content: space-between;
    background-color: $instock-primary-3;
    border-bottom: 1px solid $instock-secondary;
}
.inventory-container__top--one {
    display: flex;
    margin-top: 1.875rem;
    margin-bottom: .9375rem;
    @include tablet{
        margin-left: 1.25rem;
    }
}
.inventory-container__top--two {
    margin-top: 1.875rem;
    margin-bottom: 1.5625rem;
    
}
.inventory-container__main {
    display: flex;
    justify-content: space-between;
    background-color: $instock-primary-3;
    @include tablet {
        justify-content: start;
        height: 12.5rem;
    }
}
.inventory-container__main--two {
    display: flex;
    flex-direction: column;
    @include tablet {
        flex-direction: row;
        margin-top: 1.5625rem;
        border-left: 1px solid $instock-secondary;
    }
}
.inventory-container__right {
    display: none;
    @include tablet {
    display: flex;
    flex-direction: column;
    margin-left: 2.5rem;
    }
    @include desktop {
        margin-right: 9.375rem;
    }
}
.inventory-container__descript {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    @include tablet {
        margin-left: 1.875rem;
        margin-right: 12.5rem;
        margin-top: 1.875rem;
    }
    @include desktop {
        margin-right: 25rem;
    }
}
.inventory-container__cat {
    margin-top: 1.25rem;
    margin-bottom: 1.5625rem;
    @include tablet {
        margin-top: 4.6875rem;
    }
}
.inventory-container__status {
    margin-bottom: 1.5625rem;
    @include tablet {
        margin-bottom: 4.375rem;
    }
}
.inventory-container__ware {
    margin-bottom: 1.5625rem;
}
.inventory-container__qty {
    margin-top: 5.625rem;
    @include tablet {
        margin-top: 0;
        margin-left: 3.125rem;
    }
}
.inventory-container__hide {
    @include tablet {
        display: none;
    }
}
.inventory-container__hide--1 {
    margin-bottom: 1.25rem;
    @include tablet {
        display: none;
    }
}
.top__text {
    font-size: 1.5rem;
    margin-top: .3125rem;
    margin-left: .3125rem;
}
h4 {
    font-size: .875rem;
}
button {
    border-radius: 1.25rem;
    border: none;
    background-color: $instock-primary-2;
    color: $instock-primary-3;
    width: 4.375rem;
    height: 1.875rem;
    @include tablet {
        margin-right: 1.875rem;
    }
}