@use './../../styles/assets/partials/mixins' as *;
@use './../../styles/assets/partials/fonts' as *;
@use './../../styles/assets/partials/variables' as *;

.wh-invlist {
    width: 90vw;
    margin: 0 auto 0 auto;
	&__tablet-labels {
		display: none;
		@include tablet {
			display: flex;
			justify-content: space-between;

		}
		&__div {
			display: flex;
		}
		&__sort {
			height: 1rem;
			margin: 0;
			padding: 0;
		}
	}
	&__item {
		margin: 1rem auto 1rem auto;
		border-bottom: 1px solid $instock-secondary-2;
		@include tablet {
			display: flex;
			flex-flow: row nowrap;
			justify-content: space-between;
		}
		&__label {
			@include tablet {
				display: none;
			}
		}
		&__info-div {
			display: flex;
			flex-flow: row nowrap;
			justify-content: space-between;
			margin: 0 2rem;
			@include tablet {
				width: 100%;
			}
			&__desc {
				display: flex;
				flex-flow: column nowrap;
				margin: 0.5rem 0;
				@include tablet {
					flex-direction: row;
					width: 40%;
					justify-content: space-between;
				}
				&__name {
					display: flex;
					flex-flow: row nowrap;
					margin: 0.5rem 0;
				}
				&__arrow {
					display: inline;
					height: 1rem;
				}
				&__category {
					margin: 0.5rem 0;
				}
			}
			&__status {
				display: flex;
				flex-flow: column nowrap;
				margin: 0.5rem 0;
				@include tablet {
					flex-direction: row;
					width: 50%;
					justify-content: space-around;
				}
				&__stock {
					margin: 0.5rem 0;
					&--green {
						color: $instock-support;
						background-color: $instock-primary-3;
					}
					&--red {
						color: $instock-support-2;
						background-color: $instock-primary-3;
					}
				}
				&__qty {
					margin: 0.5rem 0;
				}
			}
		}
		&__actions-div {
			display: flex;
			flex-flow: row nowrap;
			justify-content: space-between;
			margin: 1rem 2rem 1rem 2rem;
			&__action {
				@include tablet{
					margin-right: 1rem;
				}
			}
		}
	}
}

h1, h2, h3, h4, p {
	font-family: 'Avenir', Arial, Helvetica, sans-serif;
}