@use './../../styles/assets/partials/mixins' as *;
@use './../../styles/assets/partials/fonts' as *;
@use './../../styles/assets/partials/variables' as *;

.body {
    background-color: $instock-primary-3;
}
.warehousescontainer {
    margin: 0 auto 0 auto;
    width: 90vw;
    background-color: $instock-background-page;
}